<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Entrou</h1>
  <p>Bem-vindo, <strong><%= username %></strong>!</p>

  <form action="/logout" method="POST">
    <button type="submit">Sair</button>
  </form>
</body>
</html>
